* {
  box-sizing: border-box;
}
.page-container {
  display: flex;
  justify-content: center;
}

.params-container {
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.input-item {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; 
}

.input-item strong {
  display: inline;
  line-height: 30px;;
  margin-right: 20px;
}

.input-item input{
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

button {
  width: 120px;
  height: 30px;
  margin-left: 10px;
  font-weight: bold;
  text-align: center;
}

.result-text {
  width: 350px;
  color: grey;
  display: block;
  margin-top: 10px;
}